* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png) no-repeat #2e3035;
    background-size: 100% 400px;
}


::-webkit-scrollbar {
    width: 14px;
    height: 2em
}

::-webkit-scrollbar-track-piece {
    background: rgb(26, 28, 29);
}

::-webkit-scrollbar-thumb {
    background: rgb(66, 66, 66);
}

.topNav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 5px 20px;
    align-items: center;
}

.logo {
    width: 90px;
    height: 30px;
}

.firstDiv {
    display: flex;
    align-items: center;
    gap: 20px;
}

.leaderboard {
    width: 30px;
}

.navLastDiv {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navSearch {
    width: 500px;
    height: 37px;
    background-color: rgb(23, 23, 60);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: .9rem;
}

.navSearch:focus {
    outline: none;
}

.navSearch::placeholder {
    color: rgb(65, 65, 82);
    padding-left: 10px;
    font-size: .9rem;
    font-weight: bold;
}

.searchImage {
    width: 20px;
    cursor: pointer;
}

.navMidDiv {
    display: flex;
    align-items: center;
    background-color: rgb(23, 23, 60);
    border-radius: 5px;
    padding: 0px 10px;
}

.newPostBtn {
    display: flex;
    align-items: center;
    width: 120px;
    background-color: rgb(22, 146, 88);
    border-radius: 5px;
    height: 37px;
    justify-content: center;
    gap: 10px;
    border: none;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

.leaderboard {
    width: 27px;
}

.addFreeBtn {
    width: 100px;
    background-color: rgb(47, 5, 173);
    border-radius: 5px;
    height: 37px;
    justify-content: center;
    gap: 10px;
    border: none;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

.signIn {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.signUpBtn {
    width: 110px;
    background-color: rgb(22, 146, 88);
    border-radius: 5px;
    height: 37px;
    justify-content: center;
    gap: 10px;
    border: none;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}

/* Below Navbar */

.topText {
    text-align: center;
    color: rgb(158, 208, 230);
    padding: 10px;
}

/* Explore Div */

.explore {
    width: 85%;
    margin: auto;
}

.upperTagsDiv {
    display: flex;
    justify-content: space-between;
    color: rgb(169, 167, 179);
    font-weight: bold;
}

.lowerTagsDiv {
    display: flex;
    gap: 10px;
    height: 130px;
    margin-top: 15px;
}


.backBig {
    flex: 2;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.backBig:hover {
    transform: translateY(-5px);
    transition: .2s;
}

.back1 {
    flex: 1;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.back1:hover {
    transform: translateY(-5px);
    transition: .2s;
}

.tagsDataDiv {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 5px 5px;
    gap: 5px;
}

.upperText {
    color: rgb(230, 230, 230);
    font-size: .9rem;
    font-weight: bold;
}

.lowerText {
    color: rgb(153, 153, 153);
    font-size: .75rem;
    font-weight: bold;
}

/* Secondary Navbar */

.smallNav {
    padding: 0px 115px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: rgb(169, 167, 179);
    position: sticky;
    top: 0px;
    background: url(https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png) no-repeat #2e3035;
    background-size: 100% 400px;
    z-index: 1000;
}

.smallNav>div>img {
    width: 20px;
}

.smallNav>div>p {
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.smallNavIcons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.smallNavIcons>div>p {
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* Display Div */

#images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 20px;
    margin-top: 20px;
    padding-bottom: 80px;
}

#card {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

#card:hover {
    transform: scale(1.02);
    transition: 1s;
}

#cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#arrow {
    width: 20px;
    height: 15px;
}

#views {
    width: 30px;
    height: 30px;
}

#divLast {
    display: flex;
    align-items: center;
    padding: 5px 0px;
    gap: 5px;
    color: rgb(232, 230, 227);
}

#flexThisDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textDiv {
    padding: 0px 10px;
    background-color: rgb(57, 62, 64);
    margin-top: -4px;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
}

#tagline {
    padding: 5px 5px 3px;
    color: rgb(232, 230, 227);
    font-weight: bold;
    text-align: center;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(160, 160, 160);
    height: 50px;
    background-color: rgb(41, 45, 47);
    font-weight: bold;
    position: sticky;
    bottom: 0px;
}

.footerLeftDiv {
    display: flex;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 30px;
}

.footerRightDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 200px;
    font-size: .9rem;
    background-color: rgb(57, 62, 64);
}